[submodule "conf/nvim"]
	path = conf/nvim
	url = https://github.com/s0cks/dot-nvim.git
[submodule "conf/hammerspoon"]
	path = conf/hammerspoon
	url = https://github.com/s0cks/dot-hammerspoon.git
[submodule ".dotbot/plugins/dotbot-git"]
	path = .dotbot/plugins/dotbot-git
	url = https://github.com/DrDynamic/dotbot-git.git
[submodule ".dotbot/plugins/dotbot-brew"]
	path = .dotbot/plugins/dotbot-brew
	url = https://github.com/wren/dotbot-brew.git
[submodule ".dotbot/plugins/dotbot-template"]
	path = .dotbot/plugins/dotbot-template
	url = https://github.com/ssbanerje/dotbot-template
[submodule ".dotbot/plugins/dotbot-include"]
	path = .dotbot/plugins/dotbot-include
	url = https://gitlab.com/gnfzdz/dotbot-include.git
[submodule ".dotbot/plugins/dotbot-if"]
	path = .dotbot/plugins/dotbot-if
	url = https://github.com/wonderbeyond/dotbot-if.git
[submodule ".dotbot/plugins/dotbot-includes"]
	path = .dotbot/plugins/dotbot-includes
	url = https://github.com/vanduc2514/dotbot-includes.git
[submodule ".dotbot/plugins/dotbot-ifplatform"]
	path = .dotbot/plugins/dotbot-ifplatform
	url = https://github.com/ssbanerje/dotbot-ifplatform.git
[submodule "conf/vale/styles/s0cks"]
	path = conf/vale/styles/s0cks
	url = git@github.com:s0cks/prose.git
[submodule ".dotbot/plugins/dotbot-mise"]
	path = .dotbot/plugins/dotbot-mise
	url = git@github.com:s0cks/dotbot-mise.git
