<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>%(label)s</string>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <true/>

    <key>WorkingDirectory</key>
    <string>%(aria2_home)s</string>

    <key>StandardOutPath</key>
    <string>%(aria2_home)s/stdout.log</string>

    <key>StandardErrPath</key>
    <string>%(aria2_home)s/stderr.log</string>

    <key>ProgramArguments</key>
    <array>
      <string>%(aria2_exec)s</string>
      <string>--conf-path</string>
      <string>%(aria2_conf)s</string>
    </array>
  </dict>
</plist>
