version: '3'
tasks:
  build:
    label: "Build {{.JSONNET_SOURCE}}"
    desc: "Build {{.JSONNET_SOURCE}} using Jsonnet"
    cmds:
    - > 
      jsonnet {{.JSONNET_INCLUDE_DIRS | default "-J ." }} \
              -S \
              -m {{.JSONNET_BUILD_DIR | default "." }} \
              {{.JSONNET_SOURCE}} {{ if .JSONNET_EXTRAS }}{{ .JSONNET_EXTRAS }}{{ end }} {{ if .CLI_ARGS }}{{ .CLI_ARGS }}{{ end }}
